[Unit]
Description=Lasso
After=network.target

[Service]
User=root
WorkingDirectory=/home/lasso-marko-startkit/src
ExecStartPre=/usr/bin/npm install
ExecStartPre=/usr/bin/npm run build
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
